<p>
<strong>
  Commenter:
</strong>
<%= comment.commentor %>
</p>

<p>
  <strong>
      Comment:
  </strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to "Destroy comment", [comment.article, comment], data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</p>
