<%= form_with model: [ @article, @article.comments.build] do |form| %>
  <p>
    <%= form.label :commentor %>
    <br />
    <%= form.text_field :commentor %>
  </p>

  <p>
    <%= form.label :body %>
    <br />
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.label :status %>
    <br />
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>

  <p>
    <%= form.submit %>
  </p>
<% end %>

