
<body>
    <div></div>
    <img src="www.google.com" onclick="console.log('hello')" onload="alert('hello')" onmouseenter="alert('hello')" onerror="() => alert('hello')"  />
    <button ontimeupdate="alert('hello')" onclick="alert('helo')">helo</button>
</body>
